#header {
	height: 540px;
	background: url(../img/banner-01.png) no-repeat 50% top;
}

#row1 {
	background:#039C65;
	text-align: center;
	color:white;
	padding-bottom: 2em;
	padding-top:2em;
}

#row1-mobile {
	background:#039C65;
	text-align: left;
	color:white;
	padding-bottom: 2em;
	padding-top:2em;
}

#row1-mobile span {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 2em;	
	font-weight: 100;
}

#row1-mobile .container .row .inner a {
	width:100%; 
	text-align:left;
}


#row3 {
	background:#FF843F;
	text-align: center;
	color:white;
	padding-bottom: 2em;
	padding-top:2em;
}


#row2 {
	background:#fff;
	text-align: center;
	color:black;
	background: url(../img/banner-02.png) no-repeat 50% top;
	padding-bottom: 2em;
	padding-top:2em;
}

#row4 {
	background:#fff;
	text-align: center;
	color:black;
	background: url(../img/banner-03.png) no-repeat 50% top;
	padding-bottom: 2em;
	padding-top:2em;
}

#row5 {
	background:#473FFF;
	text-align: center;
	color:white;
	padding-bottom: 2em;
	padding-top:2em;
}


#row7 {
	background:#333;
	text-align: center;
	color:white;
	padding-bottom: 2em;
	padding-top:2em;
}

.inner{
	padding:1em;

}

.inner * {
	
}

h4{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 100;
	font-size:1.8em;
	line-height:1em;
}

h3{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 100;
	font-size:2em;
}

p{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 0.9em;
}

#trailer-text{
	text-align: left;
}

#worldmap{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#nusnetid{
	padding:10px 10px 10px;
	margin-bottom:0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.form-join{
	margin-top: 2em;
}

